.imagebg
    background-image: url("../../public/images/book_table_bg.jpg")

.rounded-pil
    border-radius: 10px solid




.tag
    border-radius: 35%
    border: solid 1px #ffffff
    background-color: red
    color: #ffffff

.numero
    font-size: 40px

.cont
    margin: 0% 18%

   
.radB
    border: 10px solid        
    border-radius: 10px

    

            
            
